extends layout

block content
	h1= title
	#finplan
		- var fpID = finplan.FinPlan_ID
		div.fp
			table
				tr
					td  ID
					td= fpID
				tr
					td  UserName
					td= finplan.UserName
				tr
					td  Email
					td= finplan.Email
			p
			div.tbl_div
				table
					tr 	
						td Title
						td= finplan.Title
					tr 			
						td Description
						td= finplan.Description
					tr 			
						td  Age Today
						td= parseFloat(finplan.AgeToday)
					tr 
						td  Life Expectancy
						td= parseFloat(finplan.LifeExpect)
					tr 
						td Starting Amount
						td
							$ 
							= parseFloat(finplan.StartingAmount)
					tr 
						td Target End Amount
						td
							$ 
							= parseFloat(finplan.TargetEndFunds)
					tr 			
						td Inflation Rate
						td
							= parseFloat(finplan.InflationRate) + "%"
							//- &nbsp;&#37; // %


			- each phase in finplan.PhaseList
				- var ph = phase.Name
				p
				div.tbl_div
					table
						tr 
							td(p style="font-weight:bold") PHASE
							td= phase.Name
						tr 	
							td Age at Start of Phase
							td= parseFloat(phase.startAge)									
						tr 
							td Age at End of Phase
							td= parseFloat(phase.endAge)									
						tr
							td 	Compute value of contribution / withdrawal?
							td
								if phase.ToCompute
									input(type="checkbox", name="ToCompute", checked, disabled)
								else
									input(type="checkbox", name="ToCompute", disabled)
						tr 
							- var posFlag = (phase.NetContribution >= 0) ? true : false
							//- Only show 2 decimals
							- var NC = parseFloat(0.01 * parseInt(100*parseFloat(phase.NetContribution)))
							td= (posFlag) ? "Net Contribution" : "Net WITHDRAWAL"
							if phase.ToCompute
								if finplan.HasResult
									if posFlag
										td(p style="font-weight:bold;color:blue")
											$ 
											= NC
									else
										td(p style="font-weight:bold;color:red")
											$ 
											= - NC
								else
									td(p style="font-style:italic") To Be Computed
							else
								if posFlag
									td(p style="font-weight:bold;color:blue")
										$ 
										= NC
								else
									td(p style="font-weight:bold;color:red")
										$ 
										= - NC
						tr
							td(p style="font-weight:bold") ASSET ALLOCATION
							td
								table.assets
									- each amount, asset in phase.Portfolio
										tr
											td(p style="font-weight:normal") #{asset}
											td
												= amount
												&nbsp;% 
									- var tots = 0
									- each amount in phase.Portfolio
										- tots += parseFloat(amount)
									tr(p style="font-weight:bold")
										td Total
										if tots == 100
											td= tots + " %"
										else
											td(p style="color:red")=tots + " %"
											//- td(p style="color:red" style="weight:bold")=tots + "%"
											//- td= <font-color=red>tots + "%"
		p.
		div.tbl_div
			table
				tr(p style="background-color:gray")			
					td
						form(method="get", action="/" + fpID + "/edit/", id="edit") 
							//- input(name="id", type="hidden", value=fpID, form="cancel") 
							input(id="home", value="Edit", type="submit", form="edit")
					td
						form(method="get", action="/" + fpID + "/Compute/", id="compute") 
							input(name="id", type="hidden", value=fpID, form="compute") 
							input(id="home", value="Compute", type="submit", form="compute")
					td
						form(method="get", action="/", id="root")
							input(id="home", value="HOME", type="submit", form="root")
