extends layout

block content
    h1= title
    #finplan
        - each fp in finplan
          div.fp
            div.yellow= fp.UserName
            div.title= fp.Title 
            div.description= fp.Description
                form( method="post", action="/delete") 
                    input(name="id", type="hidden", value=fp.FinPlan_ID) 
                    input(id="delete", value="X", type="submit")
                form( method="get", action="/"+fp.FinPlan_ID)
                    input(id="details", value="See Plan Details", type="submit")
        p.
        a(href="/new")!= "Add New Financial Plan"