extends layout

block content
    h1= title
    #finplan
        - each fp in finplan
          div.fp
            div.yellow= fp.UserName
            div.title= fp.Title 
            div.description= fp.Description
                form( method="post", action="/" + fp.FinPlan_ID + "/delete") 
                    input(name="id", type="hidden", value=fp.FinPlan_ID) 
                    input(id="delete", value="Delete Plan", type="submit")
                form( method="get", action="/"+fp.FinPlan_ID)
                    input(id="details", value="See Plan Details", type="submit")
        p.
        form(method="get", action="/new", id="new") 
            input(id="save", value="Create a New Plan", type="submit", form="new") 